{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block title %}Registration: Check Email{% endblock %}

{% block main %}
    <h2>Registration: Check Email</h2>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock %}
{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}