{% extends 'base.html.twig' %}

{% block body_id 'blog_category_index' %}

{% block main %}
    <h1>{{ cat.name }}</h1>
    {% for post in posts %}
        {% include(':blog:_postitem.html.twig') %}
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}


