{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_show' %}

{% block com_title %}Web Form Submissions: {{ webform.title }}{% endblock %}

{% block com_actions %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_webform_index') }}"><i class="fa fa-chevron-left"></i> Back to Web Form List</a></li>
    </ul>
{% endblock %}

{% block body %}
    {% include(':admin/webform:_results.html.twig') %}
{% endblock %}

{% block bot_right %}
    {{ show_source_code(_self) }}
{% endblock %}
